/*
Theme Name:     Demo-child
Theme URI:
Description:    zipli child theme.
Author:         Me
Author URI:
Template:       zipli
Version:        1.0.0
*/
@media (min-width: 1201px) {
    body.shop_custom_columns_4 ul.zipli-products.products:not(.products-list) {
        grid-template-columns: repeat(4, 1fr) !important;
    }

    body.shop_custom_columns_5 ul.zipli-products.products:not(.products-list) {
        grid-template-columns: repeat(5, 1fr) !important;
    }

    body.shop_custom_columns_6 ul.zipli-products.products:not(.products-list) {
        grid-template-columns: repeat(6, 1fr) !important;
    }
}

@media (max-width: 1200px) {
    body[class*="shop_custom_columns_"] ul.zipli-products.products:not(.products-list) {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 880px) {
    body[class*="shop_custom_columns_"] ul.zipli-products.products:not(.products-list) {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
